.label {
    display: inline-block;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    color: $body-color;
    text-align: center;
    white-space: $btn-white-space;
    vertical-align: middle;
    background-color: transparent;
    border: $btn-border-width solid transparent;
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
}

.label-lg {
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.label-sm {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}

@each $color, $value in $theme-colors {
    .label-#{$color} {
        color: color-yiq($value);
        @include gradient-bg($value);
        border-color: $value;
    }

    .label-#{$color}[data-toggle=tooltip]:hover {
        color: color-yiq($value);
        @include gradient-bg($value);
        border-color: darken($value, 10%);
    }
}
